# Archivos de entorno
/.env

# Dependencias de Node.js
/node_modules

# Archivos de log
*.log

# Archivos de compilación
/dist
/build

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/